*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-font: "Montserrat", sans-serif;
  --title-font: "Cormorant SC", serif;
  --primary-text: #ffffff;
  --title-text: #202020;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--primary-text);
}
.screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./image/bg-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 768px;
  padding: 24px 16px;
  margin: 0 auto;
}
.date-section .third-part,
.location-section .first-part,
.location-section .second-part,
.location-section .third-part,
.details-section .first-part,
.details-section .second-part,
.details-section .third-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* date-section */
.date-section .first-part {
  display: none;
}
.date-section .second-part {
  background-image: url(./image/couple-photo-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 812px;
  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.date-section .second-part .title {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 120px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.date-section .third-part p {
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 25px;
}
.date-section .third-part p:last-child {
  margin-bottom: 15px;
}
.date-section .third-part span {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 16px;
}
/* date-section end*/

/* location-setion */
.location-section .first-part {
  border-radius: 0px 0px 40px 40px;
  background: #f0ede4;
}
.location-section .first-part h2 {
  color: var(--title-text);
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 24px;
}
.location-section .first-part p {
  color: var(--title-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 24px;
}
.location-section .first-part img {
  width: 166px;
  height: 150px;
  fill: #b89137;
}
.location-section .second-part h2 {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.location-section .second-part p {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 80px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.location-section .third-part {
  border-radius: 40px;
  background: rgb(240, 237, 228);
}
.location-section .third-part p {
  color: var(--title-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 52px;
}
.location-section .third-part .shadow {
  width: 278px;
  height: 313px;
  position: relative;

  margin-bottom: 18px;
}
.location-section .third-part .shadow img {
  position: absolute;
  width: 278px;
  height: 313px;
}
.location-section .third-part .shadow::before {
  position: absolute;
  content: "";
  width: 278px;
  height: 313px;
  top: 0;
  left: 0;
  border-radius: 37.53px;
  transform: rotate(-13.44deg);
  background-color: rgba(184, 145, 55, 0.17);
}
/* location-setion end*/

/* details-section */
.details-section .first-part h2 {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 24px;
}
.details-section .first-part ul {
  display: flex;
  align-items: flex-end;
  gap: 18px;

  margin-bottom: 24px;
}
.details-section .first-part ul svg path {
  fill: #ffffff;
}
.details-section .first-part p {
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.details-section .second-part {
  padding: 0 16px;
}
.details-section .second-part h2 {
  color: var(--primary-text);
  font-family: var(--title-font);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 24px;
}
.details-section .second-part p {
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 24px;
}
.details-section .third-part p {
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 24px;
}
.details-section .third-part a {
  display: block;
  position: relative;
  border-radius: 40px;
  background: rgb(255, 255, 255);
  padding: 16px 80px 16px 124px;

  color: var(--title-text);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.details-section .third-part a::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(./image/tg-button.svg);
  top: 12px;
  left: 80px;
}
/* details-section end*/

@media screen and (min-width: 1024px) {
  .screen {
    background-image: url(./image/bg-image.jpeg);
  }
  .deck-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    max-width: 1792px;
    padding: 130px 16px;
  }
  .date-section,
  .location-section,
  .details-section {
    background-color: #fff;
  }
  .gate-section {
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #fff;
    width: calc((100% - (32px * 2)) / 3) !important;
  }
  .gate-section.second {
    margin-top: 204px;
  }
  .location-section .first-part h2,
  .location-section .second-part h2,
  .details-section .first-part h2,
  .details-section .second-part h2 {
    color: var(--title-text);
  }
  .date-section .third-part p,
  .location-section .first-part p,
  .location-section .third-part p,
  .details-section .first-part p,
  .details-section .second-part p,
  .details-section .third-part p {
    color: var(--title-text);
    font-family: var(--primary-font);
    font-size: 26px;
    line-height: 32px;
  }
  /* date-section */
  .date-section .first-part {
    display: flex;
    flex-direction: column;
    padding: 60px 16px;
  }
  .date-section .first-part ul {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  .date-section .first-part ul li:first-child p {
    display: flex;
    flex-direction: column;
    color: var(--title-text);
    font-family: var(--title-font);
    font-size: 100px;
    font-weight: 400;
    line-height: 80%;
    letter-spacing: 0%;
    text-align: center;

    padding-right: 24px;
    border-right: 0.5px solid var(--title-text);
  }
  .date-section .first-part ul li:last-child {
    flex-grow: 1;
  }
  .date-section .first-part ul li:last-child p {
    color: var(--title-text);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding-left: 20px;
  }
  .date-section .first-part .title {
    color: var(--title-text);
    font-family: var(--title-font);
    font-size: 120px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .date-section .second-part .title {
    display: none;
  }
  .date-section .second-part {
    background-image: url(./image/couple-photo-deck.png);
    min-height: 736px;
    border-radius: 40px;
  }
  .date-section .third-part.container {
    padding: 24px 48px;
  }
  .date-section .third-part p {
    margin-bottom: 24px;
  }
  .date-section .third-part p:last-child {
    margin-bottom: 20px;
  }
  .date-section .third-part span {
    color: var(--title-text);
    font-family: var(--title-font);

    margin-bottom: 24px;
  }
  /* location-setion */
  .location-section .first-part.container {
    padding: 60px 18px;
  }
  .location-section .first-part h2 {
    margin-bottom: 49px;
  }
  .location-section .first-part p {
    margin-bottom: 49px;
  }
  .location-section .first-part img {
    width: 257px;
    height: 231px;
    fill: #b89137;
  }
  .location-section .second-part.container {
    padding: 60px 18px;
  }
  .location-section .second-part p {
    color: var(--title-text);
    font-family: var(--title-font);
  }
  .location-section .third-part.container {
    padding: 60px 18px;
    border-radius: 40px 40px 0 0;
  }
  .location-section .third-part p {
    margin-bottom: 60px;
  }

  /* details-section */
  .details-section .first-part {
    padding: 60px 24px;
  }
  .details-section .first-part h2 {
    margin-bottom: 30px;
  }
  .details-section .first-part ul {
    gap: 24px;

    margin-bottom: 30px;
  }
  .details-section .first-part ul svg {
    height: 98px;
    width: auto;
  }
  .details-section .first-part ul li:last-child svg {
    height: 89px;
    width: auto;
  }
  .details-section .first-part ul svg path {
    fill: rgba(45, 21, 10, 0.49);
  }
  .details-section .second-part {
    padding: 0 16px;
  }
  .details-section .second-part img {
    width: 100%;
    height: auto;
  }
  .details-section .third-part {
    padding: 60px 18px;
  }
  .details-section .third-part a {
    background: var(--title-text);
    color: var(--primary-text);
    padding: 16px 16px 16px 56px;
    max-width: 100%;
  }
  .details-section .third-part a::before {
    background-image: url(./image/simple-icons_telegram.svg);
    left: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .gate-section {
    padding: 24px;
    width: calc((100% - (40px * 2)) / 3) !important;
  }
  .date-section .first-part {
    padding: 40px 20px;
  }
  .date-section .first-part .title {
    font-size: 152px;
  }
  .date-section .third-part span {
    font-size: 90px;
  }
  .date-section .first-part ul li:first-child p {
    font-size: 120px;
  }
  .date-section .third-part p,
  .location-section .first-part p,
  .location-section .third-part p,
  .details-section .first-part p,
  .details-section .second-part p,
  .details-section .third-part p {
    font-size: 32px;
    line-height: 39px;
  }
  .location-section .first-part h2,
  .location-section .second-part h2,
  .details-section .first-part h2,
  .details-section .second-part h2 {
    font-size: 80px;
  }
  .location-section .second-part p {
    font-size: 100px;
  }
  .location-section .third-part .shadow {
    width: 324px;
    height: 370px;
    position: relative;

    margin-bottom: 36px;
  }
  .location-section .third-part .shadow img {
    position: absolute;
    width: 324px;
    height: 370px;
  }
  .location-section .third-part .shadow::before {
    position: absolute;
    content: "";
    width: 324px;
    height: 370px;
    top: 0;
    left: 0;
    border-radius: 54.71px;
    transform: rotate(-13.44deg);
    background-color: rgba(184, 145, 55, 0.17);
  }
  .details-section .third-part a {
    padding: 16px 80px 16px 124px;
  }
  .details-section .third-part a::before {
    left: 80px;
  }
}
@media screen and (min-width: 1680px) {
  .date-section .first-part {
    padding: 40px 60px;
  }
  .location-section .third-part .shadow {
    width: 405px;
    height: 462px;
    position: relative;

    margin-bottom: 36px;
  }
  .location-section .third-part .shadow img {
    position: absolute;
    width: 405px;
    height: 462px;
  }
  .location-section .third-part .shadow::before {
    position: absolute;
    content: "";
    width: 405px;
    height: 462px;
    top: 0;
    left: 0;
    border-radius: 54.71px;
    transform: rotate(-13.44deg);
    background-color: rgba(184, 145, 55, 0.17);
  }
}
